一些建议（自己搭建代理服务器）

鉴于目前服务器被定时Dos攻击，使得unblock youku几乎完全瘫痪。而DNS到现在都没恢复过。其实这个情况我也有担心过，就是服务器被蓄意攻击。看来现在唯一的办法就是我们自己搭建代理服务器或者DNS去解决这个问题。但是我们都不懂怎么搭建和使用(尤其是DNS)，所以我们亟需一个教程去帮忙，至于列表更新，我觉得可以用在线更新或者手动更新都行。

新给自建代理服务器的教程添加了 自动更新 Squid 配置的 部分，见  http://git.io/vOa4i 步骤四

美团云现在的新区都改成 主机+浮动 IP 这样的设置模式了吗？刚才才注意到
这样貌似是个技术上的进步+大宽带服务的降价，但是最便宜的 1Mb 服务器价格变贵了

一个主机最便宜 RMB 40/month，一个 IP 0.02/hour，然后 1Mb 带宽 0.04/hour
于是一个月要 40 + (0.02 + 0.04) * 24 * 30 = 83


@zhuzhuor 你算錯了1個ip 0.02/hour 1mb 0.02/hour 


@benhong 我这里看到的确是 1Mb 0.04/hour
可能你是不同区的原因？或者是 0.04 里面包含了 IP 的价格吗？

> ![screen shot 2015-08-30 at 10 47 35 am](https://cloud.githubusercontent.com/assets/928905/9573168/d3dfb49e-4f6d-11e5-8fe4-0038e12e16c7.png)


是的 0.04 已经包含ip的价格了，因为我目前正在使用中

老大们很感谢共享和付出，已经通过美团云搭建成功。 但是发现，土豆，爱奇艺，芒果，无法unlock。youku工作很正常。有什么办法，让tvbox也可以使用代理么？


@Migflyway 你说的“土豆，爱奇艺，芒果”是指 tvbox 上的吗
另外你用的 tvbox 是哪个，android 的吗

@zhuzhuor  土豆，爱奇艺，芒果 是指网页。我在mac上看的视频。 tvbox 类似于小米这样的android设备。


@Migflyway 
Youku 工作正常就说明代理服务器已经基本上设置成功了，你看看你的 crx_url_list.txt 列表是完整的吗
美团的有些 IP 可能会被误判成日本的，之前有人找客服重新要了个 IP 给解决了（我找不到之前那个 issue 了），你看看你是不是类似的问题

@zhuzhuor 好的，我看看。谢谢～


@zhuzhuor 已经让客服更换IP，但是还是同样的问题。查看了crx_url_list.txt 列表完整，土豆等还是提示海外。

@Migflyway  建議你這樣測試，先讓土豆整個網域走你的代理伺服器
要是一樣出現海外，那肯定是IP 的問題，換IP是沒用的
因為IP 再怎樣換都是在同一個B class 下
唯一的解法請客服寫信去靠杯土豆根新IP資料庫，
我之前也是這樣克服不能看QQ視平的問題


@benhong 好的，我试试。谢谢


我按照美团云搭建unblock-youk代理的教程搭了一个服务器，第一天工作完全正常。可现在突然就不工作了。

具体状况是，服务器8888端口检测还是打开的，squid也正常运行，可是设置代理后尝试链接就一直是timeout。请问有没有什么办法可以debug squid是否正常工作？谢谢！

下边使一些服务器信息：

firewall-cmd --zone=public --list-all
```
public (default, active)
  interfaces: eth0 eth1
  sources:
  services: dhcpv6-client http https ssh
  ports: 32766/tcp 8888/tcp
  masquerade: no
  forward-ports:
  icmp-blocks:
  rich rules:
```
netstat -tulpn | grep 8888
```
tcp6       0      0 :::8888                 :::*                    LISTEN      2348/(squid-1)
```



systemctl status squid
```
squid.service - Squid caching proxy
   Loaded: loaded (/usr/lib/systemd/system/squid.service; enabled)
   Active: active (running) since Thu 2015-11-26 23:33:20 EST; 4min 20s ago
  Process: 2324 ExecStop=/usr/sbin/squid -k shutdown -f $SQUID_CONF (code=exited, status=0/SUCCESS)
  Process: 2343 ExecStart=/usr/sbin/squid $SQUID_OPTS -f $SQUID_CONF (code=exited, status=0/SUCCESS)
  Process: 2338 ExecStartPre=/usr/libexec/squid/cache_swap.sh (code=exited, status=0/SUCCESS)
 Main PID: 2346 (squid)
   CGroup: /system.slice/squid.service
           ├─2346 /usr/sbin/squid -f /etc/squid/squid.conf
           ├─2348 (squid-1) -f /etc/squid/squid.conf
           ├─2349 (logfile-daemon) /var/log/squid/access.log
           └─2350 (unlinkd)

Nov 26 23:33:20 unblock-youku-yj systemd[1]: Starting Squid caching proxy...
Nov 26 23:33:20 unblock-youku-yj systemd[1]: Started Squid caching proxy.
Nov 26 23:33:20 unblock-youku-yj squid[2346]: Squid Parent: will start 1 kids
Nov 26 23:33:20 unblock-youku-yj squid[2346]: Squid Parent: (squid-1) process 2348 ...ed
Hint: Some lines were ellipsized, use -l to show in full.
```

squid.conf
```
acl crx_url url_regex -i "/opt/crx_url_list.txt"
acl localnet src 10.0.0.0/8 # RFC1918 possible internal network
acl localnet src 172.16.0.0/12  # RFC1918 possible internal network
acl localnet src 192.168.0.0/16 # RFC1918 possible internal network
acl localnet src fc00::/7       # RFC 4193 local private network range
acl localnet src fe80::/10      # RFC 4291 link-local (directly plugged) machines
acl SSL_ports port 443
acl Safe_ports port 80      # http
acl Safe_ports port 443     # https
acl Safe_ports port 1025-65535  # unregistered ports
acl CONNECT method CONNECT
http_access deny !Safe_ports
http_access deny CONNECT !SSL_ports
http_access deny manager
http_access deny to_localhost
http_access allow crx_url
http_access allow all
http_port 8888
cache_dir ufs /var/spool/squid 2048 16 256
coredump_dir /var/spool/squid
refresh_pattern .       0   20% 4320
via off
request_header_access X-Sogou-Auth deny all
request_header_access X-Sogou-Timestamp deny all
request_header_access X-Sogou-Tag deny all
request_header_access Server deny all
request_header_access WWW-Authenticate deny all
request_header_access All allow all
httpd_suppress_version_string on
visible_hostname localhost
forwarded_for transparent
```

你这个要查Squid的日志才能知道问题出在哪里。

请教一个问题，我用国外的vps搭建了一个squid的代理服务器，然后用了pac的自动代理。我发现在一个局域网里面，比如在公司，只有我一个人能用，我设置了登陆验证，只有我的电脑和手机能用，其他的电脑不能用，但是在其他公司，可以使用，有谁了解，指导下，谢谢